<h1><%= @team[:name] %></h1>
<h2>Team Motto: <%= @team[:motto] %></h2>

<h2>Hero Name: <%= @team[:members][0][:name] %></h2>
Hero Power: <%= @team[:members][0][:power] %>
Hero Biography: <%= @team[:members][0][:bio] %>

<h2>Hero Name: <%= @team[:members][1][:name] %></h2>
Hero Power: <%= @team[:members][1][:power] %>
Hero Biography: <%= @team[:members][1][:bio] %>

<h2>Hero Name: <%= @team[:members][2][:name] %></h2>
Hero Power: <%= @team[:members][2][:power] %>
Hero Biography: <%= @team[:members][2][:bio] %>
